.calendar {
    border: 0px;
    width:  85%;
    aspect-ratio: 1;
    border-radius: 10px;
    min-height: 500px;
}

main a {
    text-decoration: underline;
}

main a:hover {
    color: black;
    text-shadow: none;
    text-decoration: line;
}