form {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

input {
    color: black;
    text-shadow: none;
    width: 160px;
}

[type="radio"] {
    width: auto;
}

input:focus-visible {
    padding: auto;
}

p {
    margin-block: 0
}

.row {
    color: black;
    margin: 5px;
    border-radius: 5px;
}

.healthData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 80%;
}

.healthData .row {
    width: 168px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#agreement {
    width: auto;
}

.agreementText {
    font-size: 0.6em;
    margin: 0 auto
}
p a:hover {
    color: black;
    text-shadow: none;
}
p a{
    text-decoration: underline;
}
.formWarning{
    display: none;
    color:red;

}