form {
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

input, select, option{
    border-radius: 5px;
    color: black;
    text-shadow: none;
    width: 160px;
}

[type="radio"], [type="checkbox"] {
    width: auto;
}

input:focus-visible {
    padding: auto;
}

p {
    margin: 0 auto;
}

.row {
    color: black;
    margin: 5px;
    border-radius: 5px;
}

.healthData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 80%;
}

.healthData .row {
    width: 168px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#agreement {
    width: auto;
}

.agreementText {
    font-size: 0.6em;
    margin: 0 auto
}
p a:hover {
    color: black;
    text-shadow: none;
}
p a{
    text-decoration: underline;
}
.formWarning{
    display: none;
    color:red;
}

table {
    border-radius: 15px;
}
thead td{
   min-width: 80px;
}
#diveWeight {
    width:30px
}
 #rentForm {
     padding: 20px 0;
 }

 #daysCount {
    width: 30px;
 }

 #price {
    width: 50px;
    text-align: center;
 }
 input[disabled]{
     background-color: white;
 }

