.welcome {
    margin: auto;
    color: white;
    text-align: center;
    text-shadow: black 1px 1px 3px;
    padding-top: 1.5em;
    max-width: 70ch;
}

#finnsubLogo {
    max-height: 80%;
    mix-blend-mode: multiply;
    transition: 0.3s;
    margin-top:10px;
}

#finnsubLogo:hover {
    margin-top:0;
    max-height: 100%;
}

.logoContainer {
    text-align: center;
    height: 100px;
}
