.welcome {
    margin: auto;
    text-align: center;
    padding-top: 1.5em;
    max-width: 70ch;
}

#finnsubLogo {
    max-height: 80%;
    mix-blend-mode: multiply;
    transition: 0.3s;
    margin-top: 10px;
}

#finnsubLogo:hover {
    margin-top: 0;
    max-height: 100%;
}

.logoContainer {
    text-align: center;
    height: 100px;
}

.partnersContainer {
    width: 100%;
    text-align: center;
}

.partners {
    max-width: 500px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.partner {
    width: 160px;
    height: 70px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
