td {
    border: solid 5px black;
}

table {
    border: solid 5px green;
}

body {
    background-repeat: no-repeat;
    background-color: #b3d4fc;
    background-position: center;
}

.courseItem {
}

div {
    display: inline-block;
    width: 500px;
    background-color: powderblue;
}

div table {
    width: inherit;
}

.courses {
    display:inline-block;
    text-align: center;
}

#owd {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReyKikJcz50eCIMNPcFQTRJdZ9Fwi-WksK_A&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
}

/*nav*/

#nav-header ul {
    list-style: none;
}

#nav-header {
    width: 100%;
}

#nav-header li {
    border-radius: 5px;
    padding: 3px 7px;
    border: 1px solid orange;
    display: inline-block;
    align-items: center;
}

#nav-header li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
#nav-header li a:hover {
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
}
#nav-header li:hover {
    border: 1px solid green;
    text-decoration: underline;
    animation: ease-in;
    background-color: green;
}
