* {
    font-family: sans-serif;
}

body {
    margin: 0;
    /* background-image: linear-gradient(rgb(108, 208, 255), rgb(60, 60, 60)); */
    min-height: 100vh;
}

#header-nav {
    text-align: center;
    background-image: url("/sources/header.jpeg");
    background-position: center;
    width: 100%;
    margin-block: 0;
    height: max-content;
}

#logo {
    margin: 15px 15px 0 0;
    padding: 3px;
    border-radius: 50% 50% 30% 30%;
    background-color: white;
    border: 1px solid red;
    transition: 0.3s;
}

#logo:hover {
    background-color: rgb(46, 45, 45);
    border: 1px rgb(46, 45, 45) solid;
    /* transition: 0.3s */
}

#header-nav ul {
    display: block;
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    margin-block-end: 15px;
}

@media (min-device-width:925px) {
    #header-nav ul {
        display: inline-block;
        position: relative;
        top: -45px;
    }
    #header-nav ul li {
        margin-bottom: auto;
    }
}

#header-nav li {
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 7px 3px 7px;
    border: 1px solid red;
    display: inline-block;
    margin-bottom: 5px;
    background-color: rgb(46, 45, 45);
}

#header-nav li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#header-nav li:hover a {
    color: red;
}

#header-nav li:hover {
    /* transition: 0.3s; */
    border: 1px solid white;
    background-color: white;
}

#transition {
    background-image: linear-gradient(rgb(108, 208, 255, 0), rgb(255, 255, 255, 1));
    /* background-image: linear-gradient(rgb(108, 208, 255, 0),rgb(108, 208, 255, 1)); */
    height: 10px
}