#header-nav {
    text-align: center;
    background-image: url("https://www.phocuswire.com/uploadedImages/Articles/Opinion/2020/July/travel-bubbles-covid-19.jpeg?width=800&height=400&scale=both&mode=crop");
    background-position: center;
    width: 100%;
    margin-block: 0;
    height: max-content;
    /* border-bottom: 3px solid red */
}

#logo {
    margin: 15px 15px 0 0;
    padding: 3px;
    border-radius: 50% 50% 30% 30%;
    background-color: white;
    border: 1px solid red;
}

#logo:hover {
    background-color: rgb(46, 45, 45);
    border: 1px rgb(46, 45, 45) solid
}

#header-nav ul {
    display: block;
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    margin-block-end: 15px;
}

@media (min-device-width:925px) {
    #header-nav ul {
        display: inline-block;
        position: relative;
        top: -45px;
    }
    #header-nav ul li {
        margin-bottom: auto;
    }
}

#header-nav li {
    border-radius: 5px;
    padding: 5px 7px 3px 7px;
    border: 1px solid red;
    display: inline-block;
    margin-bottom: 5px;
    background-color: rgb(46, 45, 45);
}

#header-nav li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#header-nav li a:hover {
    color: red;
}

#header-nav li:hover {
    border: 1px solid white;
    background-color: white;
}

#transition {
    background-image: linear-gradient(rgb(108, 208, 255, 0), rgb(108, 208, 255, 1));
    height: 10px
}